<h1><%=@type.name%></h1>

<ul>
  <% @type.pokemon.each do |pokemon| %>
    <li>
      <h2><%=pokemon.name%></h2>
      <%=link_to image_tag(pokemon.sprite, :alt=>pokemon.name), pokemon%>
    </li>
  <% end %>
</ul>