<h1>About</h1>
<p>This is a database of pokemon. You can view their names, sprites, type, and egg type.</p>
<a href="https://pokeapi.co/">This is the API I used.</a>
<p>The datasets are pulled from 3 endpoints, which are Pokemon, Types, and Egg Groups. There is a many to many relationship between pokemon and types, and there is a many to many relationship between pokemon and egg groups. </p>

<p>Endpoints</p>
<a href="https://pokeapi.co/api/v2/egg-group/">Egg Groups</a>
<a href="https://pokeapi.co/api/v2/pokemon/">Pokemon</a>
<a href="https://pokeapi.co/api/v2/type/">Types</a>


