body{
  padding: none;
  margin: none;
  background-color: #263452;
}

.navbar{
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li{
  float: left;
}

.navbar li:last-of-type{
  float: right;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover{
  background-color: #111;
}

#form{
  margin-top: 16px;
}

#search{
  background-color: #333;
  border: none;
  color: white;
  padding: 15px, 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}