<h1><%=@egg_group.name%></h1>

<ul>
  <% @egg_group.pokemon.each do |pokemon| %>
    <h3><%=pokemon.name%></h3>
    <%=link_to image_tag(pokemon.sprite, :alt=>pokemon.name), pokemon%>
  <% end %>
</ul>